@model IEnumerable<Shop.Models.Marka>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.MarkaId"><i class="fa-solid fa-pen"></i></a> -
                    <a asp-action="Details" asp-route-id="@item.MarkaId"><i class="fa-solid fa-circle-info"></i></a> -
                    <a asp-action="Delete" asp-route-id="@item.MarkaId"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
