@model Shop.Models.Urun

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Urun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.İşlemciModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.İşlemciModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPUModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPUModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RamKapasitesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RamKapasitesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EkranBoyutu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EkranBoyutu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.İşletimSistemi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.İşletimSistemi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka.MarkaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
