@model Shop.Models.Urun

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Ürün Detay</h1>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 16px;
    }
</style>

<div class="card">
    <img src="/img/@Model.Foto" alt="@Model.Ad adlı kitabın kapak görseli" style="width:50%">
    <div class="container">
        <h4><b>@Model.Ad</b></h4>
        <p>Fiyatı : @Model.Fiyat ₺</p>
        <p>Özellikler : @Model.Aciklama</p>
        <p>İşlemci Modeli : @Model.İşlemciModel</p>
        <p>Ekran Kartı : @Model.GPUModel</p>
        <p>Ram : @Model.RamKapasitesi</p>
        <p>Ekran Boyutu :@Model.EkranBoyutu</p>
        <p>İşlemci :@Model.İşlemciModel</p>
        <p>Kategori : @Model.Kategori.Ad</p>
        <p>Model : @Model.Marka.Ad</p>
        

    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
