@model Shop.Models.AnaSayfaCokluListeleme
@{
	ViewData["Title"] = "Home Page";
}
<div class="section">
	<div class="container">
		<div class="row">
			@foreach (var item in Model.Kategoriler)
			{
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="~/img/@item.foto"  alt="">
						</div>
						<div class="shop-body">
							<h3>@item.Ad<br></h3>
							<a href="/Urun/Index/?kategoriId=@item.KategoriId" class="cta-btn"> Şimdi satın al <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Laptoplar</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Laptop</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">

								@foreach (var item in Model.Urunler)
								{
									if (@item.Kategori.KategoriId == 1011)
									{
										<div class="product">
											<div class="product-img">
												<img src="/img/@item.Foto" alt="">
												<div class="product-label">
												</div>
											</div>
											<div class="product-body">
												@*<p class="product-category">@item.Marka.Ad</p>*@
												<h3 class="product-name"><a href="/Urun/UrunDetay/@item.Id">@item.Ad</a></h3>
												<h4 class="product-price">@item.Fiyat ₺ <del class="product-old-price"></del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Listelerim</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">İncele</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<a href="/Sepet/SepeteUrunEkle/@item.Id"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button></a>
											</div>
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Hazır Sistemler</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Hazır Sistemler</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<div id="tab2" class="tab-pane fade in active">
							<div class="products-slick" data-nav="#slick-nav-2">
								<!-- product -->
							@foreach (var item in Model.Urunler)
							{
									if (@item.Kategori.KategoriId == 1012)
								{
										  
									
								<div class="product">
									<div class="product-img">
										<img src="/img/@item.Foto" alt="">
										<div class="product-label">
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
											<h3 class="product-name"><a href="/Urun/UrunDetay/@item.Id">@item.Ad</a></h3>
										<h4 class="product-price">@item.Fiyat ₺ <del class="product-old-price"></del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
											<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
										</div>
									</div>
									<div class="add-to-cart">
											<a href="/Sepet/SepeteUrunEkle/@item.Id"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>    </a>
									</div>
								</div>
								}
							}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
				<h3 class="title">Masaüstü Bilgisayar</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Masaüstü Bilgisayar</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<div id="tab2" class="tab-pane fade in active">
							<div class="products-slick" data-nav="#slick-nav-2">
							@foreach (var item in Model.Urunler)
							{
									if (@item.Kategori.KategoriId == 1013)
								{
									<div class="product">
										<div class="product-img">
											<img src="/img/@item.Foto" alt="">
											<div class="product-label">
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="/Urun/UrunDetay/@item.Id">@item.Ad</a></h3>
											<h4 class="product-price">@item.Fiyat ₺ <del class="product-old-price"></del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<a href="/Sepet/SepeteUrunEkle/@item.Id"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>    </a>
										</div>
									</div>
								}
							}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Monitör</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Monitör</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<div id="tab2" class="tab-pane fade in active">
							<div class="products-slick" data-nav="#slick-nav-2">
								@foreach (var item in Model.Urunler)
								{
									if (@item.Kategori.KategoriId == 1014)
									{
										<div class="product">
											<div class="product-img">
												<img src="/img/@item.Foto" alt="">
												<div class="product-label">
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="/Urun/UrunDetay/@item.Id">@item.Ad</a></h3>
												<h4 class="product-price">@item.Fiyat ₺ <del class="product-old-price"></del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<a href="/Sepet/SepeteUrunEkle/@item.Id"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>    </a>
											</div>
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Klavye</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Klavye</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<div id="tab2" class="tab-pane fade in active">
							<div class="products-slick" data-nav="#slick-nav-2">
								@foreach (var item in Model.Urunler)
								{
									if (@item.Kategori.KategoriId == 1015)
									{
										<div class="product">
											<div class="product-img">
												<img src="/img/@item.Foto" alt="">
												<div class="product-label">
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="/Urun/UrunDetay/@item.Id">@item.Ad</a></h3>
												<h4 class="product-price">@item.Fiyat ₺ <del class="product-old-price"></del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<a href="/Sepet/SepeteUrunEkle/@item.Id"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>    </a>
											</div>
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Mouse</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Mouse</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<div id="tab2" class="tab-pane fade in active">
							<div class="products-slick" data-nav="#slick-nav-2">
								@foreach (var item in Model.Urunler)
								{
									if (@item.Kategori.KategoriId == 1016)
									{
										<div class="product">
											<div class="product-img">
												<img src="/img/@item.Foto" alt="">
												<div class="product-label">
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="/Urun/UrunDetay/@item.Id">@item.Ad</a></h3>
												<h4 class="product-price">@item.Fiyat ₺ <del class="product-old-price"></del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<a href="/Sepet/SepeteUrunEkle/@item.Id"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>    </a>
											</div>
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>